@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

/* Notes Container */
#notesContainer {
  border: 1px solid black;
}

/* Notes Typography */
#notes {
  color: rgb(248, 246, 246);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}