@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

#notes {
    color: rgb(8, 8, 8);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
  
#start_stop_button {
    margin: 10px;
}

#notesContainer {
    border: 1px solid black;
}

#controllerBPM {
    background: #2c2e31;
    color: #646669;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin: auto;
    padding: 5px 10px;
}

#controllerBPM .buttonsContainer {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
}

#controllerBPM .buttonsContainer button {
    all: unset;
    padding: 1px;
    border-radius: 15%;
    cursor: pointer;
    font-family: 'Roboto Flex', sans-serif;
    transition: color 0.3s ease/* Add 0.3s transition for color */
}

#central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: max-content;
}

#bpm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: yellowgreen;
    height: 85px;
    padding-bottom: 10px;
    min-width: 90px;
    max-width: 133px;
    transition: all 0.1s ease;
}

#text{
    margin-top: -30px;
    font-size: 20px;
    margin-bottom: 10px;
}

#customButton{
    all: unset;
}

#customButton:hover{
    cursor: pointer;
}

/* Additional Styles */
.container {
/* Add any styles you need for the container */
}

#notesContainer #notes {
/* Add any styles for the notes container or notes element */
}

#start_stop_button {
/* Add any specific styles for the start/stop button */
}

#controllerBPM .buttonsContainer button:hover {
    color: aliceblue;
}

#bpm {
/* Add any specific styles for the BPM display */
}

#metronome:hover{
    fill:aliceblue
}

#metronome{
    width: 25px;
    height: 25px;
    border-radius: 15%;
    padding: 1px;
    transition: fill 0.3s ease;
}