@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

/* Start/Stop Button */
#start_stop_button {
  all: unset;
  margin: 0px;
  background-color: yellowgreen;
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  fill: #2c2e31;
}

/* Controller BPM */
#controllerBPM {
  background: #2c2e31;
  color: #646669;
  padding: 5px 10px;
  margin: auto;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* BPM and Button Row */
#bpm_and_button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  height: max-content;
}

/* BPM Value Container */
#bpmContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  font-size: 40px;
  color: yellowgreen;
  transition: all 0.1s ease;
  margin-top: -10px;
}

/* BPM Text */
#bpm_text {
  font-size: 15px;
}

/* Slider and Buttons Row */
#sliderRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* Slider Input */
#customSliderInput {
  /* Customize the appearance of the slider thumb here */
  width: 100%;
  height: 5px;
  border-radius: 10px; /* Make it a circle */
  background-color: #646669; /* Set the background color */
  cursor: pointer;
  appearance: none;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}

#customSliderInput:hover {
  opacity: 1;
}

/* Slider Thumb (Webkit) */
#customSliderInput::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: yellowgreen;
  cursor: pointer;
}

/* Slider Thumb (Moz) */
#customSliderInput::-moz-range-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: yellowgreen;
  cursor: pointer;
}

/* BPM Buttons */
.bpmButtons {
  all: unset;
  fill: yellowgreen;
  transition: fill 0.2s;
  margin-top: 3px;
}

.bpmButtons:hover {
  color: white;
  fill: white;
  cursor: pointer;
}

/* Notes Container */
#notesContainer {
  border: 1px solid black;
}


/* Notes Typography */
#notes {
  color: rgb(248, 246, 246);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
}