@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

.settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 15px;
  font-family: 'Roboto Flex';
}

.rowSettings,
.instrumentSettings {
  border-radius: 8px;
  background: #2c2e31;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #646669;
  fill: #646669;
  height: 35px;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: fit-content;
  padding: 0px 10px 0px 10px;
}

.rowSettings .options,
.instrumentSettings .options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  gap: 20px;
}

.rowSettings .separator,
.instrumentSettings .separator {
  width: 4px;
  background-color: #323437;
  height: 20px;
  border-radius: 4px;
  align-self: center;
  margin: 0px 5px 0px 5px;
}

.select {
  all: unset;
  transition: color 0.3s ease/* Add 0.5s transition for color */;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.select:hover {
  color: white;
  fill: white;
  cursor: pointer;
}

.selected {
  color: yellowgreen;
  fill: yellowgreen
}

#bpm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  gap: 13px;
  font-size: 13px;
  margin: auto;
}

.icon{
  width: 25px;
  height: 25px;
  border-radius: 15%;
  padding: 1px;
  transition: fill 0.3s ease;
}

.separatorIcon{
  width: 15px;
  height: 35px;
  margin: auto 5px;
  fill: rgb(60, 60, 60);
}

#menus{
  display: flex;
  flex-direction: row;
}