@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

.select {
  all: unset;
  transition: all 0.3s ease;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.select:hover {
  color: white;
  fill: white;
  stroke: white;
  cursor: pointer;
}

.selected {
  color: yellowgreen;
  fill: yellowgreen;
  stroke: yellowgreen;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  gap: 13px;
  font-size: 13px;
  margin: auto;
}

.icon{
  width: 25px;
  height: 25px;
  border-radius: 15%;
  padding: 1px;
}

.separatorIcon{
  width: 15px;
  height: 35px;
  margin: auto 5px;
  fill: rgb(60, 60, 60);
}