@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

#chords{
    background-color: #2c2e31;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    color: #646669;
    flex-wrap: wrap;
    margin: 0;
    gap: 5px;
}

#selections{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#items{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}